input {
    width: 200px;
    height: 20px;
    box-sizing: border-box;
}

button {
    background-color: #03C75A;
    width: 200px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #03C75A;
    color: white;
}



input::placeholder {
    text-align: left;
}