/* 

position

position은 문서 상의 요소를 배치하는 방법을 정의한다.
position이 요소의 배치 방법을 결정하면,
top, bottim, right, left가 최종 위치를 결정하는 방식이다.

position: 난 이렇게 배치할거야;
top: 윗면에서부터 얼마큼 떨어뜨릴거야;
right: 오른쪽면에서부터 얼마큼 떨어뜨릴거야;
botoom: 아랫면에서부터 얼마큼 떨어뜨릴거야;
left: 왼쪽면에서부터 얼마큼 떨어뜨릴거야;
-> 상하좌우 위치 지정은 피룡에 따라 선택적으로 사용!

position 속성에는 다음 속성값들을 지정할 수 있다.
static: 기본값, 요소를 일반적인 문서 흐름에 따라 배치한다.
relative: 일반적일 문서 흐름에 따라 배치하되, 상하좌우 위치 값에 따라 오프셋을 적용한다.
          오프셋(보충)이란, 위치를 얼마간 이동시키는 것을 의미한다.
absolute: 일반적인 문서 흐름에서 제거하고, 가장 가까운 position 지정 요소에 대해 상대적으로 오프셋을 적용한다.
          position 지정 요소란, position 속성에 송성값이 정의되어 있는 요소.
fixed: 일반적인 문서 흐름에서 제거하고, 지정한 위치에 고정된다.
sticky: 일반적인 문서 흐름에서 제거하고, 스크롤 동작이 존재하는 가장 가까운 요소에 대해 오프셋을 적용한다.  
          스크롤 이동으로 요소가 움직여도 스티키 요소는 고정된 상태를 유지한다.


*/