/* 

텍스트 관련 속성

font-family: 글꼴을 정의
요소를 구성하는 텍스트의 글꼴을 정의한다.
글꼴명을 속성값으로 지정한다. 
여러개의 글꼴을 연달아 기입하여 우선 순위를 지정할 수 있다.

font-size: 글자 크기를 정의
수치와 단위를 지정해 글자의 크기를 정의 할 수 있다.
px: 모니터 상의 화소 하나 크기에 대응하는 절대적인 크기
rem: <html>태그의 font-size에 대응하는 상대적인 크기
em: 부모태그(상위태그)의 font에 대응하는 상대적인 크기

h1의 기본 크기는 32px
p의 기본 크기는 16px

text-align: 정렬 방식을 정의
블록 내에서 텍스트의 정렬 방식을 정의한다. 미리 정의된 키워드 값을 지정한다.
left/right: 왼쪽 또는 오른쪽
center: 가운데
justify: 양끝 정렬(마지막 줄 제외)

color: 글자 색상을 정의
텍스트의 색상을 정의. 다양한 방법으로 색상을 지정할 수 있다.
키워드: 미리 정의된 색상별 키워드를 사용 (ex.red, blue)
RGB 색상 코드: # + 여섯 자리 16진수 값 형태 (ex: #FF0000)
RGB 함수: Red, green, blue 의 수준을 각각 정의 (ex: rgb(100%, 0%, 0%)) 


*/