/* 

콘텐츠에도 배경이 있다.

Background

배경은 콘텐츠의 배경을 정의한다.
단축 속성으로 색상, 이미지, 반복 등 다양한 하위 속성을 정의 할 수 있다.

background-color: 배경 색을 정의
background-image: 배경 이미지를 정의
background-position: 배경 이미지의 초기 위치를 정의
background-size: 배경 이미지의 크기를 정의
background-repeat: 배경 이미지의 반복 방법을 정의

*/